
{% extends "base.html" %}

{% block app_content %}
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Admin Dashboard</h1>
        </div>
        <hr>

        <div class="container button-padding">
            <div class="row">
                <div class="col-6 text-center">
                    <a class="text-center" href="{{ url_for('admin.list_projects') }}">
                    <button type="button" class="btn button btn-outline-secondary text-uppercase btn-lg">View Projects</button>
                    </a>
                </div>
                <div class="col-6 text-center">
                    <a class="text-center" href="{{ url_for('admin.list_data') }}">
                    <button type="button" class="btn button btn-outline-secondary text-uppercase btn-lg">Change Info</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
