
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {% if add_project %}
        Add Project
    {% else %}
        Edit Project
    {% endif %}
{% endblock %}

{% block app_content %}
<div class="container padding">
    <div class="text-center">
      <br/>
      {% if add_project %}
          <h1>Add Project</h1>
      {% endif %}
      {% if add_project == false %}
          <h1>Edit Project</h1>
      {% endif %}

      {% if edit_data %}
          <h1>Edit Data</h1>
      
      {% endif %}
    </div>
    <br/>
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}
