<!-- About Me -->
    <section class="about-me" id="about-me">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-image">
                        <img src="../../../static/img/team2.png" alt="About me" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about-title">
                    <h2 class="text-uppercase pt-5">
                        <span>Let me</span>
                        <span>introduce</span>
                        <span>myself</span>
                    </h2>
                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            My name is Natacha Barcala and I am a Computer Science graduate seeking a Software Engineering role to expand my skill set and provide value to a hard-working team.

                        </p>
                        <p class="para">
                            I am a motivated individual with a strong work ethic and ability to work independently. I have strong organizational and team collaboration skills with experience in improving processes.
                        </p>
                    </div>
                    <button type="button" class="btn button btn-outline-primary text-uppercase">Download Resume</button>
                </div>
            </div>
        </div>
    </section>