<!-- Banner -->

<!-- <section class="site-banner" id="about-me">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h1>My name is Natacha Barcala </h1>
                <p>I am a Computer Science graduate seeking a Software Engineering role to expand my skill set <br>
                    and provide value to a hard-working team.
                </p>
                <p> I am a motivated individual with a strong work ethic and ability to work independently.<br>
                    I have strong organizational and team collaboration skills with experience in improving processes.
                </p>
                <div class="resume-btn">
                    <button type="button" class="btn btn-light text-uppercase">Download Resume</button> 
                </div>
            </div>
            <div class="col-lg-6 col-md-12 app-picture">
                <img src="../../../static/img/remote-work-2.png" class="img-responsive">
                
            </div>
        </div>
    </div>
</section> -->


<!-- <section class="site-banner site-banner-sm" id="site-banner">
    <div class="banner-wrapper">
        <div class="banner-left">
            <h1>My name is Natacha Barcala </h1>
            <p>I am a Computer Science graduate seeking a Software Engineering role to expand my skill set <br>
                and provide value to a hard-working team.
            </p>
            <p> I am a motivated individual with a strong work ethic and ability to work independently.<br>
                I have strong organizational and team collaboration skills with experience in improving processes.
            </p>
            <div class="resume-btn">
                <button type="button" class="btn btn-light text-uppercase">Download Resume</button>
            </div>
        </div>
        <div class="banner-right">
            <img src="../../../static/img/remote-work-2.png" alt="Home Page Image" width="800px">
        </div>
    </div>
    <img src="../../../static/img/Scroll.png" alt="Scroll Down" class="scroll">
</section> -->

<!-- <main class="1-main">
    <section class="home bd-grid" id="home">
        <div class="home__data">
            <h1 class="home__title">
                Hello, <br> I'm <span class="home__title-color"> Natacha </span> <br> Software Engineer </h1>
            <a href="#" class="button">Contact</a>
        </div>

        <div class="home__social">
            <a href="#" class="home__social-icon"><i class='bx bxl-linkedin-square' ></i></a>
            <a href="#" class="home__social-icon"><i class='bx bxl-github' ></i></a>
            <a href="#" class="home__social-icon"><i class='bx bxl-instagram' ></i></a>
        </div>

        <div class="home__img">
            <img src="../../../static/img/remote-work-2.png" alt="">
        </div>
    </section>
</main> -->

<div class="content">
    <!-- <div class="container"> -->
        <div class="flexbox">
            <div class="span-6 about-desc">
                <div class="inner-desc">
                    <h1>Natacha Barcala </h1>
                    <h3>I am a Computer Science graduate seeking a Software Engineering role to expand my skill set
                        and provide value to a hard-working team.
                    </h3>
                    <p> I am a motivated individual with a strong work ethic and ability to work independently.
                        I have strong organizational and team collaboration skills with experience in improving processes.
                    </p>
                    <div class="">
                        <button type="button" class="btn border-pink">Download Resume</button>
                    </div>
                </div>
            </div>

            <div class="span-6 about-img">
                <img src="../../../static/img/remote-work-2.png" alt="">
            </div>
        </div>
    <!-- </div> -->
</div>



    <!-- <section class="site-banner" id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 site-title">
                    <h3 class="title-text text-uppercase">Hello, I am Natacha. </h3>


                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            My name is Natacha Barcala and I am a Computer Science graduate seeking a Software Engineering role to expand my skill set and provide value to a hard-working team.

                        </p>
                        <p class="para">
                            I am a motivated individual with a strong work ethic and ability to work independently. I have strong organizational and team collaboration skills with experience in improving processes.
                        </p>
                    </div>
                
                    <div class="site-buttons">
        
                    </div>
                </div>

            </div>
        </div>
    </section> -->