<!-- Banner -->
    <section class="site-banner" id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 site-title">
                    <h3 class="title-text text-uppercase">Hello, I am Natacha. </h3>
                    <!-- <h3 class="title-text">a Computer Science graduate. </h3> -->
                    <!-- <h1 class="title-text text-uppercase">I am Natacha</h1> -->
                    <!-- <h4 class="title-text text-uppercase">{{ admin.career }}</h4> -->

                    <div class="paragraph py-4 w-75">
                        <p class="para">
                            My name is Natacha Barcala and I am a Computer Science graduate seeking a Software Engineering role to expand my skill set and provide value to a hard-working team.

                        </p>
                        <p class="para">
                            I am a motivated individual with a strong work ethic and ability to work independently. I have strong organizational and team collaboration skills with experience in improving processes.
                        </p>
                    </div>
                
                    <div class="site-buttons">
                        <div class="d-flex flex-row flex-wrap">
                            <button type="button" class="btn button btn-outline-primary mb1 purple mr-4 text-uppercase">view resume</button>
                            <!-- <a href="{{ url_for('general.home', _anchor='about-me') }}"><button type="button" class="btn button btn-outline-secondary text-uppercase" >about me</button></a> -->
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-6 col-md-12 banner-image">
                    <img src="../../../static/img/300Logo.png" alt="banner-img" class="img-fluid">
                </div> -->
            </div>
        </div>
    </section>