{% extends "base.html" %}

{% block styles %}
{{ super() }}

<!-- <script type="text/javascript" src="../../../static/js/portfolio.js" defer></script> -->

{% endblock %}


{% block app_content %}

<!--- Welcome -->

<main class="site-main">
    
    {% include 'general/banner.html' %}

    {% include 'general/about_me.html' %}

    {% include 'general/services_offered.html' %}


    <!-- Projects Done -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h5 class="small-header"> Portfolio </h5>
                <h3 class="big-header"> Check Out My Projects </h3>
            </div>
            <div class="portfolio-slider">

                <!-- SOFF -->
                <div class="slider">
                    <div class="project-item">
                        <div class="project-info">
                            <h3>SOFF</h3>
                            <p> Part of a team of three that created a 
                                fruit-slicing device equipped with a fruit identifier 
                                and ripeness detection system that is controlled by an 
                                accompanying Android app. </p>
                            <p> Retrained a ResNet18 neural network 
                                to classify a specific set of fruits using an 
                                NVIDIA Jetson Nano, NVIDIA TensorRT, 
                                and PyTorch. </p>
                            <!-- <ul class="small-text">
                                <li>Used an NVIDIA Jetson Nano, NVIDIA TensorRT, 
                                    and PyTorch to retrain a ResNet18 neural network 
                                    to classify a specific set of fruits. 
                                </li>
                                <li>Created an Android app to remote control a 
                                    robotic fruit slicer using Bluetooth. 
                                    This application read data from the 
                                    Jetson Nano to determine the ripeness level 
                                    and display a picture of the fruit on the 
                                    Android device.
                                </li>
                                <li>Helped with connecting the motor to the 
                                    Jetson Nano and test cutting different fruits. 
                                </li>
                            </ul> -->
                            <ul class="project-tools">
                                <span class="border-pink">Python</span>
                                <span class="border-pink">Java</span>
                                <span class="border-pink">PyTorch</span>
                            </ul>
                            <ul class="project-links">
                                <a href="https://github.com/nabarcala/SOFF" class="link"><i class='bx bxl-github' ></i></a>
                            </ul>
                        </div>
                        <div class="project-img" style="background-image: url('../../../static/img/SOFF.jpg');"></div>
                    </div>
                </div>

                <!-- Lego Pill Sorter -->
                <div class="slider">
                    <div class="project-item">
                        <div class="project-info">
                            <h3>Lego Pill Sorter</h3>
                            <p> Participated in a three-person team to plan and 
                                create a pill sorter out of Legos. </p>
                            <p> Programmed a Raspberry Pi to use a webcam to 
                                sort pills based on the color using OpenCV.
                                Created a ramp on the device with two exits for 
                                the colored pills to roll through. </p>
                            <ul class="project-tools">
                                <span class="border-pink">Python</span>
                                <span class="border-pink">OpenCV</span>
                                <span class="border-pink">Raspberry Pi</span>
                            </ul>
                            <ul class="project-links">
                                <a href="https://github.com/nabarcala/PillSort" class="link"><i class='bx bxl-github' ></i></a>
                            </ul>
                        </div>
                        <div class="project-img" style="background-image: url('../../../static/img/pill-sorter.jpg');"></div>
                    </div>
                </div>

                <!-- Med Tracker -->
                <div class="slider">
                    <div class="project-item">
                        <div class="project-info">
                            <h3>Mediaction Tracker</h3>
                            <p> Served as a front-end developer on a team of 
                                six to develop a web application that reminded the 
                                user of when they should take their medications. </p>
                            <p> Able to create appointments with doctors logged into 
                                the web app. Integrated all appointments and medications 
                                into the site's calendar. </p>
                            <p> Designed and converted mockups into code. Created the uder interface. </p>
                            <ul class="project-tools">
                                <span class="border-pink">PHP</span>
                                <span class="border-pink">HTML5</span>
                                <span class="border-pink">CSS3</span>
                                <span class="border-pink">JavaScript</span>
                            </ul>
                            <ul class="project-links">
                                <a href="https://github.com/nabarcala/Medication-Tracker-Web-App" class="link"><i class='bx bxl-github' ></i></a>
                            </ul>
                        </div>
                        <div class="project-img" style="background-image: url('../../../static/img/med-tracker9.png');"></div>
                    </div>
                </div>

            </div>
            
            <div class="other-project-views">
                <div class="text-center"> 
                    <!-- <a href="#"> See Different Portfolio View  </a> -->
                </div>
            </div>

        </div>
    </section>



</main>
{% endblock %}
