{% extends "base.html" %}

{% block app_content %}


<div class="container-fluid project-info">

    {% if project %}

    <h1 class="text-uppercase text-center pb-5">
        {{ project.title|replace("-", " ") }}
    </h1> 

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="about-image pt-5">
                <img src="{{ project.imgurl }}" alt="project-img" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 about-title">
            <div class="paragraph py-4 w-75">
                <p class="para">
                    {{ project.description }}
                </p>
            </div>
            <div class="row pl-3">
                <!-- <div class="col-4 pl-4">

                    {% if project.github_url %}
                    <a href="{{ project.github_url }}">
                    <button type="button" class="btn button btn-outline-primary text-uppercase">GitHub</button>
                    </a>

                    {% else %}
                    <a href="{{ project.github_url }}">
                    <button type="button" class="disabled btn button btn-outline-primary text-uppercase">GitHub</button>
                    </a>

                </div>
                {% endif %}
                <div class="col-8">

                    {% if project.website %}
                    <a href="{{ project.website }}">
                    <button type="button" class="btn button btn-outline-primary text-uppercase">Website</button>
                    </a>

                    {% else %}
                    <a href="{{ project.website }}">
                    <button type="button" class="disabled btn button btn-outline-primary text-uppercase">Website</button>
                    </a>

                    {% endif %}
                </div> -->
            </div>
        </div>
    </div>

    {% else %}

    <div class="col-lg-12 col-md-12">
        <h3 class="text-center"> Unable to get project data </h3>
    </div>

    {% endif %}

</div>

{% endblock %}