<!-- Services Offered -->
    <section class="services-offered" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center services-title">
                    <h1 class="text-uppercase title-text">Services Offered</h1>
                    <p class="para">
                        I am interested in Web Development and Python Development, and I have some creative hobbies that help me accomplish my recent projects. 
                    </p>
                </div>
            </div>
            <div class="container services-list">
                <div class="row">
                    <!-- Python Dev -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="services-img text-center py-4">
                                <i class="fab fa-python"></i>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">Python Developer</h5>
                                <p class="card-text text-secondary">
                                    I am most experienced with Python. This website was actually created using Python and the Flask framework!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Web Developer -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="services-img text-center py-4">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">Web Developer</h5>
                                <p class="card-text text-secondary">
                                    Along with experience with Python, I know HTML, CSS as well as Bootstrap.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Hobby Artist -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="services-img text-center py-4">
                                <i class="fas fa-palette"></i>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">Hobby Artist</h5>
                                <p class="card-text text-secondary">
                                    I enjoy creating artworks in my free time. This includes traditional and digital artwork. I have also created simple leather wallets!
                                </p>
                                <!-- <p class="card-text text-secondary no-link">
                                    <a href="#"><i class="fab fa-instagram"></i> Instagram </a>
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <!-- Masks -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="services-img text-center py-4">
                                <i class="fas fa-head-side-mask"></i>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">Cotton Masks</h5>
                                <p class="card-text text-secondary">
                                    <!-- Because of the current situation, face masks are important to decrease the spread of bacteria and illness.  -->
                                    I have created several face masks made from 100% cotton. They are available on my Etsy Store.
                                </p>
                                <!-- <p class="card-text text-secondary no-link">
                                    <a href="#"><i class="fab fa-etsy"></i> Etsy </a>
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>