{% extends "base.html" %}

{% block app_content %}
<div class="container-fluid padding">
    <h1>Edit Profile</h1>
    <div class="row">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="col-lg-6">
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.career.label }}<br>
                    {{ form.career(size=32) }}<br>
                    {% for error in form.career.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.headline.label }}<br>
                    {{ form.headline(cols=50, rows=4) }}<br>
                    {% for error in form.headline.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-12 col-lg-6 padding">
                
            </div>
            <p class="padding text-center">{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}
