{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron d-flex justify-content-center">
        <h1 class="name">NB's Portfolio</h1>
    </div>
    <div class="card d-flex align-items-center">
        <div class="card-body">
            <h3>Natacha Barcala</h3>
            <h6>Software Engineer</h6>
            <h5 class="card-title">
                Python | Flask | SQL | REST | HTML5 | CSS | JavaScript 
            </h5>
            <p>
                <!--      bio here      -->
            </p>
        </div>
    </div>
{% endblock %}