{% extends "base.html" %}

{% block app_content %}

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/blue-and-purple-cosmic-sky-956999.jpg') }}">
            <div class="carousel-caption">
                <h1 class="display-2">Natacha Barcala</h1>
                <h3>{{ admin.career }}</h3>
                <h4>Python | Flask | SQL | REST | HTML5 | CSS | JavaScript</h4>
                <button type="button" class="btn btn-outline-light btn-lg">VIEW RESUME</button>
                <button type="button" class="btn btn-outline-light btn-lg">Contact</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/blue-and-purple-cosmic-sky-956999.jpg') }}">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/blue-and-purple-cosmic-sky-956999.jpg') }}">
        </div>
    </div>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">
            {{ admin.bio }}
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Resume</button></a>
        </div>
    </div>
</div>

<!--- Welcome Section -->


{% endblock %}