{% extends "base.html" %}

{% block app_content %}
<div class="card d-flex align-items-center">

        <div class="card-body">
        <h5 class="card-title">{{ project.title|replace("-", " ") }}</h5>
        <p class="card-text">{{ project.description }}</p>

        <div class="d-flex flex-wrap">
            {% if project.website %}
                <a
                    href="{{ project.website }}"
                    target="_blank"
                    class="card-link"
                ><i class="fas fa-globe"></i> Website</a>
            {% endif %}
            <a
                href="{{ project.github_url }}"
                target="_blank"
                class="card-link"
            ><i class="fab fa-github"></i> GitHub Repo</a>
            <a
                href="{{ go_back }}"
                class="card-link"
                id="backlink"
            ><i class="fas fa-arrow-left"></i> Go Back</a>
        </div>
    </div>
</div>
{% endblock %}